//Body
$bg-color: #272822;
$title: #fff;

//Coloration syntaxique
$code:  #ae81fb;
$comm: #90908a;
$name: #58cfef;
$vim: #e42666;
$quotes: #e6db74;

//Selection
$selection-bg: #ae81fb;
$selection-color: #fff;
